

<header>
    <h1>{{title}}</h1>
    <a {{#if path}}class="active"{{/if}} href="/">Weather</a>
    <a {{#if path}}class="active"{{/if}} href="/about">About</a>
    <a {{#if path}}class="active"{{/if}} href="/help">Help</a>
</header>
